<center>Centeral Billing Management System</center>
<form method="post">
    {% if message %}

        <div class="alert alert">
            <p class="text-danger">
                {{ message }}!!!
            </p>
        </div>

    {% endif %}
    {% csrf_token %}
    {% if not message %}
    <label for="username">Username</label>
    <input type="text" name="username" id="">
    <label for="password">Password</label>
    <input type="password" name="password" id="">
    <label for="password">Seller Pan</label>
    <input type="text" name="seller_pan" id="">
    <label for="password">Buyer Pan</label>
    <input type="text" name="buyer_pan" id="">
    <label for="password">Buyer Name</label>
    <input type="text" name="buyer_name" id="">
    <label for="password">Fiscal Year</label>
    <input type="text" name="fiscal_year" id="">
    <label for="password">Invoice Number</label>
    <input type="text" name="invoice_number" id="">
    <label for="password">Invoice Date</label>
    <input type="text" name="invoice_date" id="">
    <label for="password">Total Sales</label>
    <input type="number" name="total_sales" id="">
    <label for="password">Taxable Sales Vat</label>
    <input type="number" name="taxable_sales_vat" id="">
    <label for="password">Vat</label>
    <input type="number" name="vat" id="">
    <label for="password">Excise Amount</label>
    <input type="number" name="excise_amount" id="">
    <label for="password">Excise</label>
    <input type="number" name="excise" id="">
    <label for="password">Taxable Sales Hst</label>
    <input type="number" name="taxable_sales_hst" id="">
    <label for="password">Hst</label>
    <input type="number" name="hst" id="">
    <label for="password">Amount For Esf</label>
    <input type="number" name="amount_for_esf" id="">
    <label for="password">Esf</label>
    <input type="number" name="esf" id="">
    <label for="password">Amount For Esf</label>
    <input type="number" name="amount_for_esf" id="">
    <label for="password">Export Sales</label>
    <input type="number" name="export_sales" id="">
    <label for="password">Tax Exempted Sales</label>
    <input type="number" name="tax_exempted_sales" id="">
    <label for="password">Isrealtime</label>
    <input type="text" name="isrealtime" id="">
    <input type="submit" value="Submit" id="">
    {% endif %}
</form>

<style>
    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }

    input {
        margin: 10px 0;
    }
    .text-danger{
        color: red;
        text-align: center;
    }
    center{
        font-size: 30px;
        font-weight: bold;
    }
</style>